{% extends 'layout.html.twig' %}

{% block title %}
    B-List | Contact Us
{% endblock %}

{% block main %}
    <h1>Contacter la Liste du Seau !</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium laborum molestiae provident
            repudiandae rerum. Aliquam aspernatur autem blanditiis consectetur consequuntur culpa enim incidunt ipsam
            nam, necessitatibus nesciunt odit quidem temporibus?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis eligendi et hic minima nemo, non
            odio possimus quidem vel. Cum ex fugit in minus natus nemo optio, porro voluptas.
        </p>

    </div>
{% endblock %}

