{% extends 'layout.html.twig' %}

{% block title %}B-List | Home{% endblock %}

{% block main %}

    <h1>La Liste du Seau !</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem explicabo provident sequi tempora ut?
            Architecto, aspernatur autem cumque dicta eum harum hic nostrum nulla numquam pariatur quis repudiandae sint
            voluptates?
        </p>
        <p>
            Ab adipisci deleniti deserunt ea eos fugit illo inventore iure labore nihil quibusdam quidem, quo quos
            ratione tempora ullam voluptas voluptate, voluptatibus.
        </p>
    </div>

{% endblock %}


