{% extends 'layout.html.twig' %}

{% block title %}B-List | Details{% endblock %}

{% block body %}
    <h1>Le Détail d'une Chose de la Liste du Seau !</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet assumenda, expedita odit officia omnis
        qui voluptas? Assumenda cupiditate doloremque, facere in ipsum labore nulla quasi tempore? Debitis nihil,
        voluptatum!
    </p>
{% endblock %}

