{% extends 'layout.html.twig' %}

{% block title %}B-List | List{% endblock %}

{% block body %}
    <h1>La Liste des Choses à Faire du Seau !</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus dolorem fuga hic itaque maxime odit
        pariatur quam, quibusdam quisquam rerum soluta vel voluptates. Dolore dolores enim qui ullam voluptate?
    </p>
{% endblock %}

