<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

</head>
<body>
<div class="container">
    <header>
        {% include('inc/header.html.twig') %}
        {% include('inc/nav.html.twig') %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>

        {% include('inc/footer.html.twig') %}
    </footer>
</div>
</body>
</html>