{{ "now" | date("Y") }} &copy; Bucket-List v{{ version }}
<br>
<pre><i>"{{ description }}"</i><br>git checkout <b>{{ branch }}</b></pre>
{#<br>#}
{#<br>#}
{#By Fabián Alexis<br>#}
{#(<a href="https://github.com/fabianalexisinostroza/Antu">https://github.com/fabianalexisinostroza/Antu</a>)<br>#}
{#[<a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia Commons</a>#}