<nav>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('idea_list') }}">Liste</a></li>
        <li><a href="{{ path('idea_detail') }}">Detail</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>